.auth-form {
  max-width: 35rem;
  margin-inline: auto;

  &__label {
    display: block;
    margin-top: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.2rem;
  }

  &__input {
    display: block;
    width: 100%;
    border: 1px solid var(--color-dark-blue);
    padding: 0.5rem;
    border-radius: 0.5rem;

    &--error {
      background-color: rgba(226, 85, 85, 0.568);
      border: 1px solid rgb(209, 47, 47);
    }
  }

  &__error-message {
    color: rgb(209, 47, 47);
  }

  &__success-message {
    background-color: var(--color-moderate-blue);
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    color: var(--color-white);
    text-align: center;
  }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-top: 4rem;
  }

  &__link {
    text-decoration: underline;
    transition: color 250ms ease-in-out;

    &:hover {
      color: var(--color-moderate-blue);
    }

    &--forgot-password {
      display: block;
      text-align: center;
      margin-top: 0.5rem;
    }
  }

  &__btn {
    padding: 1rem 1.75rem;
    border-radius: 0.45rem;
    cursor: pointer;

    text-transform: uppercase;
    font-weight: 400;
    font-size: 1rem;
    background-color: transparent;
    border: 1px solid var(--color-moderate-blue);
    color: var(--color-moderate-blue);
    transition: color 250ms, background 250ms;

    &:hover {
      background-color: var(--color-moderate-blue);
      color: var(--color-very-light-gray);
    }
  }
}
