.comment-card {
  border-radius: 1rem;
  background-color: var(--color-white);
  display: flex;
  margin: 1rem auto;
  padding: 0.5rem;
  padding-bottom: 1rem;
  color: var(--color-grayish-blue);

  &__content {
    flex-basis: 90%;
  }

  &__no-items {
    text-align: center;
    padding: 1rem;
    color: var(--color-dark-blue);
  }
}
