.comment-card {
  margin-bottom: 1rem;
  &__comment {
    border-radius: 1rem;
    background-color: var(--color-white);
    display: flex;
    margin: 0.5rem auto;
    padding: 0.5rem;
    padding-bottom: 1rem;
    color: var(--color-grayish-blue);

    &-content {
      flex-basis: 90%;
    }
  }

  &__no-items {
    text-align: center;
    padding: 1rem;
    color: var(--color-dark-blue);
  }

  &__reply {
    max-width: 90%;
    margin-left: auto;
  }
}
