@import '../styles/mixins.scss';

.header {
  &__nav {
    ul {
      display: flex;
      justify-content: center;
      gap: 4rem;
      align-items: center;
      margin: 0 1rem 0 0rem;
      padding: 2rem 0;
    }

    &-link {
      color: var(--color-moderate-blue);
      padding: 1rem 1.5rem;
      border: 1px solid currentColor;
      border-radius: 0.5rem;
      transition: background 250ms, color 250ms ease-in-out;

      &:hover,
      &--active {
        @include ui-lighten-primary;
        color: var(--color-white);
      }

      &--primary {
        background-color: var(--color-moderate-blue);
        color: var(--color-white);
      }
    }
  }
}
