@import '../../styles/mixins.scss';

.count {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-light-gray);
  width: 2rem;
  height: min-content;
  margin: 1.5rem;
  border-radius: 0.5rem;
  gap: 0.5rem;

  &__display {
    color: var(--color-moderate-blue);
    font-weight: 500;
  }

  &__btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: var(--color-light-grayish-blue);
  }

  @media screen and (max-width: 37.5em) {
    .count {
      flex-direction: row;
    }
  }
}
